body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top.button-show {
	visibility:visible;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:black;
}

h1 {
  font-size: 4rem;
}

.positioner {
  width: 0px;
  height: 0px;
  right: 0;
  top: 0;
  position: absolute;
}
.positioner2 {
  width: 0px;
  height: 0px;
  left: 0;
  top: 0;
  position: absolute;
}

.jqtarget {
  background-color:gray;
  display: inline-block;
  position: relative;
}

.mini-pic {
  max-height: 280px;
  max-width: 280px;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
  border-color: #292b2c;
  max-width: 250px;
}

.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}